/*********************************************************************
 Add Inventor Styles 
*********************************************************************/
/*
    NOTE: This Dlg is being modified by javascript / jquery 
    see cttc.js  function: OnClick_AddInventorBtn
*/

#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_txtSearch_btnSearch {
  position: relative;
}

/* The loding image */
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_txtSearch_btnSearch_divLoading {
  position: absolute;  
  left: 0px;
  top: -10px;    
}

/* Main Add Inventor Dlg - form some reason it's too high... */
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_pnlMain {
  /*top: 15% !important;*/
}

#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_pnlMain h1 {
  margin: 0px;  
}


#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_txtContribution input, 
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_txtSearch_pnlSearch input,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_searchCompany1_txtSearch_pnlSearch input { 
  width: inherit;
}

/* Style lize the inputs */
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_rdoRole_ctl03 input {
  margin-left: 2em;
}


/* Lables within the Invetor's Disclosure Role and Rights section */
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_rdoRole_ctl03 label {  
  display: inline;
  width: 100%;
}

  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_rdoRole_ctl03 label > .fieldtooltip {
    display: inline-block;
    margin-left: 10px;
  }
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_rdoRole_ctl03 label > .fieldtooltip:before {
    content: " - ";
  }
  
/* This is the Search Result's window...  */
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_pnlSearch > div + div {
  max-height: 385px !important;
}

.admin #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_ddlSignType,
.admin #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_dtSignDate {
    display: inline-block !important;
    visibility: visible;
    margin-right: 15px;
}

/*
 * Add Contact Styles
 */

#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_ddnGender,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_ddnPrefix,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_ddnSuffix,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_txtTitle,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_ddnClientDepartment,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_ddnCitizenship, 
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_email1_pnlEmail1 table + div,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_email1_lnkAdd,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_phone1_pnlPhone1, 
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_phone1_lnkAdd,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_address1_pnlAddress1,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_address1_lnkAdd {
  display: none;
  visibility: hidden;
} 


#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_pnlContact1 {
  height: auto !important;
  overflow: auto !important;
  
}

#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_searchCompany1_pnlResults {
  height: 127px !important;
}

#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_pnlContact1  div:empty {
  display: none;
  visibility: hidden;
}
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_searchCompany1_pnlSelected,
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_confirmContact1_pnlMain > div:nth-of-type(4) {
    max-height: 225px !important;
    overflow-y: scroll;   
}


/*
 * No, none of these are matched so use the information I just entered  link to button 
 */
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_confirmContact1_lnkNo  {
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow: 0px 10px 14px -7px #23395e;
  -webkit-box-shadow: 0px 10px 14px -7px #23395e;
  box-shadow: 0px 10px 14px -7px #23395e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#0B0C41;
  color:#ffffff;
  border:solid 1px black;
  height:27px;
  padding:0px 15px 0px 15px;
  text-align:center;
  margin-bottom: 15px;
  display:  inline-block;
  position: relative;
  top: 7px;
}

#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_confirmContact1_lnkNo:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
#ctl00_ContentPlaceHolder1_customFields1_sectionInventors_mdcEdit_contentTemplate_searchContact1_mdcAddContact_contentTemplate_contact1_confirmContact1_lnkNo:active {
  position:relative;
  top:8px;
}
