/*********************************************************************
 *  Back to Top Styles
 *********************************************************************/

#back-to-top {
  background: url(../images/CTTC/backtotop.png) no-repeat center center;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 50px;
  position: fixed;
  right: 20px;
  text-indent:-9999px;
  width: 50px;
  z-index: 1;
  background-size: 50px 50px;
}


#back-to-top:hover {
  opacity: 0.8;
}

<!--[if lte IE 6]>
  html {
    overflow-x: auto;
    overflow-y: hidden;
  }

  * html #back-to-top {
    position:absolute;
  }
<![endif]-->

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

  #back-to-top {
    background: url(../images/CTTC/backtotop2.png) no-repeat center center;
    background-size: 70px 70px;
  }

}
