@import 'font-awesome.css';
@import 'https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css';
@import 'back2top.css';             /*  Back to Top Styles */
@import 'header.css';               /*  Header Related Styles */
@import 'footer.css';               /*  Footer Related Styles */
@import 'logout.css';               /*  Logout Screen Related Styles */
@import 'login.css';                /*  Login Screen Related Styles */
@import 'dashboard.css';            /*  Dashboard - General Styles */
@import 'detailed_view.css';        /*  Dashboard - Detailed View Styles */
@import 'add_inventor_dlg.css';     /*  Add Invnetory Dlg Styles */   
@import 'messageDlg.css';           /*  Add Message Dlg Styles*/   

/*********************************************************************
 *  Global Styles
 *********************************************************************/
 
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; 
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.colormered {
  background-color: red;
}

body {
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 160%;
    background-color: #1a1a1a;
    margin:  0;
}

h1 {
    font-size:24px;
    padding:0px;
    margin:-5px 0px 0px 10px;
}

h2 {
    font-size:18px;
    font-weight:bold;
    padding:0px;
    margin:0px 0px 5px 0px;
}
h1, h2, h3, h4 {
    color: #3D5184;
}

/******************************************************************************/
/* Body                                                                       */
/******************************************************************************/

  /*  
   * olor Mapping
   */

.accepted {
  background-color: #B6D7A8;
}    
  .fa.accepted {
    background-color: inherit;
    color: #B6D7A8;
  }    

.draft {
  background-color: #FFE599;
}    
  .fa.draft {
    background-color: inherit;
    color: #FFE599;
  }    

.submitted {
  background-color: #9FC5F8;
}   
  .fa.submitted {
    background-color: inherit;
    color: #9FC5F8;
  }    

.warning {
  background-color: #FFCECF;
} 
  .fa.warning {
    background-color: inherit;
    color: #FF0000;
  }  

.page-body {
 /* padding-top: 155px;*/
  background-color: #FFFFFF;
}
   
.required {
  color: #FF0000;
  font-weight: 900;
  font-style: italic;
  font-size: smaller;
 }
.hideElement {
  display: hidden;
  visibility: none;
}
/*
  .logged_in + .page-body {
    padding-top: 30px;
  }*/
  .page-body  > table {
     margin: 0px auto;
   }
   .page-body #error_message {
     margin: auto;
     width: 95%;
   }
   

  
  #ctl00_tdNavigation.navigation + td {
    padding-top: 16px;
  }
    
  /* Crazy hack due to Interum having an element style of 400px on a div that only has hidden objects */
  form[action="./CreateAccount.aspx"] .page-body .contentbox_mm .content_indent  table td > div {
    width: auto !important;
  }
   

/* If we are logged in, inforce that all table (body tables) are at least the height of the admin menue */
.contentbox_mm .main_content {
  min-height: 549px;
}   

input, button, select, textarea, 
.statusdraftbox, .statussubmitbox, .statusapprovedbox, .statussubmittedbox  {
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;  
}
input[type=submit], input[type=button],
.statusdraftbox, .statussubmitbox, .statusapprovedbox, .statussubmittedbox  {
  -moz-box-shadow: 0px 10px 14px -7px #23395e;
  -webkit-box-shadow: 0px 10px 14px -7px #23395e;
  box-shadow: 0px 10px 14px -7px #23395e;
}

input[type=submit], input[type=button] {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#0B0C41;
  color:#ffffff;
  border:solid 1px black;
  height:27px;
  padding:0px 15px 0px 15px;
  text-align:center;
  margin-bottom: 15px;
  display:  inline-block;
  position: relative;
  top: 7px;
}

input[type=submit]:hover, input[type=button]:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
input[type=submit]:active, input[type=button]:active {
  position:relative;
  top:8px;
}
.RadGrid .rgSave, .RadGrid .rgAdd, .RadGrid .rgRefresh, 
.RadGrid .rgEdit, .RadGrid .rgDel, .RadGrid .rgDrag, 
.RadGrid .rgFilter, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, 
.RadGrid .rgPageFirst, .RadGrid .rgPageLast, .RadGrid .rgExpand, 
.RadGrid .rgCollapse, .RadGrid .rgSortAsc, .RadGrid .rgSortDesc, 
.RadGrid .rgUpdate, .RadGrid .rgCancel, .RadGrid .rgUngroup, 
.RadGrid .rgExpXLS, .RadGrid .rgExpDOC, .RadGrid .rgExpPDF, 
.RadGrid .rgExpCS {
  top: 0;
}
textarea {
    font-family:Arial;
    font-size:small;
    padding:4px;
    background-color:#fdfdfd;
}

input[type=text], input[type=password]
{
    padding:0px;
    background-color:#fdfdfd;
}

a:link, a:active, a:visited
{ 
  color:#004eb3;
  text-decoration:none;
}
a:hover 
{
  color:#004eb3;
  text-decoration:none;
}

.subtitle
{
    color:#646464;
    font-size:14px;
    margin:0px 0px 15px 0px;
}

.subtitlebar
{
    border:solid 1px #c0c0c0;
    background-color:#efefef;
    padding:5px;
    font-size:16px;
    margin:0px 0px 15px 0px;
}

.large_subtitle
{
    /*color:#cd1c29;*/
    font-size:24px;
    font-weight:bold;
    margin:0px 0px 10px 0px;
}

.info
{
    margin:0px 0px 10px 0px;
}

.fieldlabel
{
    margin:0px 0px 5px 0px;
}

.prompt_warning
{
    padding:5px;
    border:solid 1px #e5db57;
    background-color:#fffbcc;
}

.content_indent
{
    margin-left:15px;
    margin-right:15px;
}

.feedback_failure
{
    display:inline-block;
    color:#666553;
    font-weight:bold;
    vertical-align:middle;
    border:solid 1px #e09091;
    background-color:#ffcecf;
    padding:4px 3px 3px 25px;
    margin-top:3px;
    background-image:url(../images/icon_error.png);
    background-repeat:no-repeat;
    background-position:3px 3px;
}
/*form control label text*/
label {
  padding-left: 10px;
  width: 95%;
}
.input_label
{
    padding:2px;
    font-weight: bold;
}
  .input_label input {
    vertical-align: top;
    position: relative;
  }

.fieldtooltip {
  font-weight: normal;
}
.small_desc
{
    color:#646464;
    font-size:11px;
}
/*form drop down control*/
.input_dropdown
{
    padding:2px;
    font-size:14px;
}

/*form text box control */
textarea {
  width: 100% !important;
}

.td_right
{
    padding-right:15px;
}

.fieldtooltip
{
    font-size:12px;
    font-style:italic;
    color:#646464;
}

/*Label type custom field*/
.customLabel
{
    margin-top: 10px;
    margin-bottom: 10px;
   /* font-style:italic;*/
}

/*line type custom field*/
.customHorizontalLine
{
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    vertical-align: top;
}

/*Add button on form build in sections*/
.SectionAddButton
{
    /*float: right;*/
}



/*request account image*/
.requestAccountButton
{
    background-image:url(../images/btn_requestaccount.png);
    background-repeat:no-repeat;
    border-width: 0px;
    width:163px;
    height:34px;
    display:block; 
}

.EmptyDataRowStyle
{
    font-weight: bold;
    color: red;
}

/* page title */
.titlebar { margin-bottom:10px; }
.titlebar_right { height:53px;  width:29px; background-color: #0b4225; border-bottom-right-radius: 7px; border-top-right-radius: 7px;}
.titlebar_middle { height:53px; background-image:url(../images/greenback1long2.png); }
.titlebar_left { height:53px; width:22px; background-color: black; border-bottom-left-radius: 7px; border-top-left-radius: 7px; }

/* overall layout */
.logo { margin:10px 0px 10px 10px; max-height:60px;}
.logged_in {  margin:106px 10px 0px 0px; }

/* contentbox */
.main_content { padding:5px 0px 0px 0px; }
.contentbox_tl { background-image:url(../images/contentbox_tl.png); height:7px; width:9px; background-repeat:no-repeat; }
.contentbox_tm { background-image:url(../images/contentbox_tm.png); height:7px; background-repeat:repeat-x; }
.contentbox_tr { background-image:url(../images/contentbox_tr.png); height:7px; width:9px; background-repeat:no-repeat; }
.contentbox_ml { background-image:url(../images/contentbox_ml.png); height:7px; width:9px; background-repeat:repeat-y; }
.contentbox_mm { background-color: transparent;  min-width:500px; min-height:600px; }
.contentbox_mr { background-image:url(../images/contentbox_mr.png); height:7px; width:9px; background-repeat:repeat-y; }

.contentbox_row
{
    padding:0px;
}
.contentbox_bl 
{ 
    background-image:url(../images/contentbox_bl.png); 
    height:16px; 
    background-repeat:no-repeat; 
}
.contentbox_bm 
{ 
    background-image:url(../images/contentbox_bm.png); 
    height:16px; 
    background-repeat:repeat-x; 
}
.contentbox_br 
{ 
    background-image:url(../images/contentbox_br.png); 
    height:16px; 
    background-repeat:no-repeat; 
}


.contentbox_row
{
    padding:0px;
}

/* navigation */
.navigation {
    width: 165px;
    padding: 16px 0px 0px 0px;
    font-size: 12px;
    line-height:16px
}
.nav_admin { margin-top:30px; }
.nav_admin_title { font-weight:bold; margin-bottom:5px; }
.nav_tab_on { background-image:url(../images/bg_navigation_tab.png); width:165px; height:35px; margin-bottom:6px; }
.nav_tab_off { background-image:url(../images/bg_navigation_tab.png); width:165px; height:35px; margin-bottom:6px; background-position:0px 35px; }


a.navlink_home:link, a.navlink_home:visited, a.navlink_home:hover, a.navlink_home:active, 
a.navlink_mydisclosures:link, a.navlink_mydisclosures:visited, a.navlink_mydisclosures:hover, a.navlink_mydisclosures:active,
a.navlink_adddisclosure:link, a.navlink_adddisclosure:visited, a.navlink_adddisclosure:hover, a.navlink_adddisclosure:active, 
a.navlink_editprofile:link, a.navlink_editprofile:visited, a.navlink_editprofile:hover, a.navlink_editprofile:active, 
a.navlink_settings:link, a.navlink_settings:visited, a.navlink_settings:hover, a.navlink_settings:active, 
a.navlink_pdftemplate:link, a.navlink_pdftemplate:visited, a.navlink_pdftemplate:hover, a.navlink_pdftemplate:active, 
a.navlink_disclosuretemplate:link, a.navlink_disclosuretemplate:visited, a.navlink_disclosuretemplate:hover, a.navlink_disclosuretemplate:active, 
a.navlink_disclosuretypes:link, a.navlink_disclosuretypes:visited, a.navlink_disclosuretypes:hover, a.navlink_disclosuretypes:active, 
a.navlink_notifications:link, a.navlink_notifications:visited, a.navlink_notifications:hover, a.navlink_notifications:active, 
a.navlink_content:link, a.navlink_content:visited, a.navlink_content:hover, a.navlink_content:active,
a.navlink_layout:link, a.navlink_layout:visited, a.navlink_layout:hover, a.navlink_layout:active, 
a.navlink_migrate:link, a.navlink_migrate:visited, a.navlink_migrate:hover, a.navlink_migrate:active, 
a.navlink_users:link, a.navlink_users:visited, a.navlink_users:hover, a.navlink_users:active 
{ width:165px; height:36px; display:block; color:#000000; padding:10px 0px 0px 25px; background-repeat:no-repeat; background-position:5px 9px; }



a.navlink_home:link, a.navlink_home:visited, a.navlink_home:hover, a.navlink_home:active 
{ background-image:url(../images/icon_home.png); }
a.navlink_mydisclosures:link, a.navlink_mydisclosures:visited, a.navlink_mydisclosures:hover, a.navlink_mydisclosures:active 
{ background-image:url(../images/icon_mydisclosures.png); }
a.navlink_adddisclosure:link, a.navlink_adddisclosure:visited, a.navlink_adddisclosure:hover, a.navlink_adddisclosure:active 
{ background-image:url(../images/icon_adddisclosure.png); }
a.navlink_editprofile:link, a.navlink_editprofile:visited, a.navlink_editprofile:hover, a.navlink_editprofile:active 
{ background-image:url(../images/icon_editprofile.png); }
a.navlink_settings:link, a.navlink_settings:visited, a.navlink_settings:hover, a.navlink_settings:active 
{ background-image:url(../images/icon_settings.png); }
a.navlink_pdftemplate:link, a.navlink_pdftemplate:visited, a.navlink_pdftemplate:hover, a.navlink_pdftemplate:active 
{  background-image:url(../images/icon_pdftemplate.png);  }
a.navlink_disclosuretemplate:link, a.navlink_disclosuretemplate:visited, a.navlink_disclosuretemplate:hover, a.navlink_disclosuretemplate:active 
{ background-image:url(../images/icon_disclosuretemplate.png); }
a.navlink_disclosuretypes:link, a.navlink_disclosuretypes:visited, a.navlink_disclosuretypes:hover, a.navlink_disclosuretypes:active 
{ background-image:url(../images/icon_disclosuretypes.png); }
a.navlink_notifications:link, a.navlink_notifications:visited, a.navlink_notifications:hover, a.navlink_notifications:active 
{ background-image:url(../images/icon_notifications.png); }
a.navlink_content:link, a.navlink_content:visited, a.navlink_content:hover, a.navlink_content:active 
{ background-image:url(../images/icon_content.png); }
a.navlink_layout:link, a.navlink_layout:visited, a.navlink_layout:hover, a.navlink_layout:active 
{ background-image:url(../images/icon_layout.png); }
a.navlink_migrate:link, a.navlink_migrate:visited, a.navlink_migrate:hover, a.navlink_migrate:active 
{ background-image:url(../images/icon_migrate.png); }
a.navlink_users:link, a.navlink_users:visited, a.navlink_users:hover, a.navlink_users:active 
{ background-image:url(../images/icon_users.png); }




/* dashboard */
.Recent_Activity .dashboard_stats { display: none; width:180px; }
.Recent_Activity .content_indent table td:nth-of-type(2) { width: 0px !important; }

.Recent_Activity.admin .dashboard_stats { display: table-cell; }
.Recent_Activity.admin .content_indent table td:nth-of-type(2) { width: 20px !important; }

.dashboard_stats_container { background-color:#0b4225; margin-bottom:10px; padding:10px; border: 1px solid #d8d8d8; background: #f5f5f5;      background: -moz-linear-gradient(top, #f5f5f5 0%, #efefef 100%);      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#efefef));      background: -webkit-linear-gradient(top, #f5f5f5 0%,#efefef 100%);      background: -o-linear-gradient(top, #f5f5f5 0%,#efefef 100%);      background: -ms-linear-gradient(top, #f5f5f5 0%,#efefef 100%);      background: linear-gradient(top, #f5f5f5 0%,#efefef 100%);      -pie-background: linear-gradient(top, #f5f5f5 0%,#efefef 100%);      border-radius: 7px;          font-size: 200%;      text-align: center;    box-shadow: 0px 0px 1px 1px white inset, 0px 23px 21px -33px #000 }

.dashboard_stats_item { font-size:16px; text-align:center; margin-bottom:5px; color: black; color: initial;}


a.nav_login:link, a.nav_login:visited, a.nav_login:active { color:#0b4225; text-decoration:none; font-weight:bold; }
a.nav_login:hover { color: blue; text-decoration: underline; }
#ctl00_ContentPlaceHolder1_fli_ctl00 {
    position: absolute;
    float: initial;
    bottom: 10px;
    left: 50px;
}
  #ctl00_ContentPlaceHolder1_fli_ctl00 > table {
    height: 145px;
    width: 515px;
    background-image: url('../images/cttc/login-loading-background.png');
  }
    #ctl00_ContentPlaceHolder1_fli_ctl00 > table table {
      background-color: transparent !important;
      border: none !important;
      width: 100%;
    }  
    
#divErrorTitle { color: #cd1c29; }
/* disclosure */
.mdc_ss_mdl_bdr {background-color: #FFFFFF;}
.mdc_ss_mdl_bdr .mdc_ss_mdl_ftr { height: 50px; background-size: contain;}
.statusdraftbox { border:solid 2px #646464; background-color:#ffe599; padding:7px 26px; width:50%; margin: 0 auto; text-align: center;}
.statussubmittedbox { border:solid 2px #646464; background-color:#9fc5f8; padding:7px 26px; width:50%; margin: 0 auto; text-align: center;}
.statusapprovedbox { border:solid 2px #646464; background-color:#b6d7a8; padding:7px 26px; width:50%; margin: 0 auto; text-align: center;}
.statustitle { font-size:22px; font-weight:bold; text-align:center; }
.statusspacer { margin-top:7px; }
.statusspacercentered { margin-top:7px; text-align:center; display: inline-block;}
.expand_region { padding:10px; border:solid 1px #c0c0c0; border-top-width:0px; border-radius: 0 0 5px 5px;}
a.disc_exp:link, a.disc_exp:visited, a.disc_exp:hover, a.disc_exp:active 
{ display:block; padding:5px; font-weight:bold; font-size:14px; color:#646464; background-color:rgba(188, 188, 188, 0.5); border:solid 1px #c0c0c0; text-decoration:none; background-image:url(../images/icon_arrow_up.png); background-repeat:no-repeat; background-position:right center; border-radius: 5px 5px 0 0;}
a.disc_col:link, a.disc_col:visited, a.disc_col:hover, a.disc_col:active 
{ display:block; padding:5px; font-weight:bold; font-size:14px; color:#646464; background-color:rgba(188, 188, 188, 0.5); border:solid 1px #c0c0c0; text-decoration:none; background-image:url(../images/icon_arrow_down.png); background-repeat:no-repeat; background-position:right center; border-radius: 5px;}
#ct100_ContentPlaceHolder_wrapper {
  width: 100%;
  padding: 0 15px;
}
#ct100_ContentPlaceHolder_wrapper #ctl00_ContentPlaceHolder1_pnlStatusSubmitted .statusspacercentered {
  display: block;
}

#ct100_ContentPlaceHolder_wrapper input.input_text[disabled]{
  width: 90px;
  min-width: 90px;
  border: 0px;
}

#ct100_ContentPlaceHolder_wrapper #ctl00_ContentPlaceHolder1_txtLastSubmitDate, 
#ct100_ContentPlaceHolder_wrapper #ctl00_ContentPlaceHolder1_txtOrigSubmitDate {
  float: left;
  padding: 0 8px;
}
#ct100_ContentPlaceHolder_wrapper #ctl00_ContentPlaceHolder1_txtOrigSubmitDate {
  padding-left: 0px;
}

/* RadGrids */
/* hyperlink color in grid */
div.RadGrid_Default .rgRow a,
div.RadGrid_Default .rgAltRow a,
div.RadGrid_Default .rgRow a:visited,
div.RadGrid_Default .rgRow a:active,
div.RadGrid_Default .rgAltRow a:visited,
div.RadGrid_Default .rgAltRow a:active
{
    color:#004eb3;
}
div.RadGrid_Default .rgRow a:hover,
div.RadGrid_Default .rgAltRow a:hover
{
    text-decoration:underline;
}
/* header */

div.RadGrid_Default th.rgHeader, 
div.RadGrid_Default th.rgSorted, 
.RadGrid_Default th.rgHeader, 
.RadGrid_Default th.rgSorted, 
.RadGrid_Default th.rgResizeCol,
.RadGrid_Default .rgHeader,
.RadGrid_Default th.rgHeader a,
.RadGrid_Default .rgHeader a {
    height:25px;
    background-image:none;
    background-color: transparent;
    color:#ffffff;
    font-size:14px;
}

.RadGrid .rgMasterTable .rgHeader {
  padding: 0 0 0 5px;
  margin: 0;
}
.RadGrid .rgMasterTable .rgHeader.rgSorted a {
  width: calc(100% - 20px);
}

.RadGrid .rgMasterTable .rgHeader .rgSortDesc,
.RadGrid .rgMasterTable .rgHeader .rgSortAsc {
  float: right;
  position: relative;
  bottom: 14px;
}
.RadGrid .rgMasterTable .rgHeader .rgSortDesc {
  top: 14px;
  bottom: 0px;
}
.RadGrid .rgHeader a {
    display: inline-block;
    width: 100%;  
    line-height: 25px;
    padding-left: 7px;
 }
  
div.RadGrid_Default th.rgHeader, 
.RadGrid_Default th.rgHeader,
.table_header {
    background-color: rgba(0, 74, 131, 0.6) !important;
    color: #ffffff;
    border: 1px solid #828282;

}

.rgMasterTable th i {
  float: right;
  visibility: hidden;
  position: relative;
  display: inline-block;
  line-height: inherit;
}
.rgMasterTable th.rgHeaderOver i {
  visibility: visible;
}
.rgMasterTable th.rgHeaderOver input.rgSortAsc + i {
  display: none;
  visibility: hidden;
 }
 
 
 



 
  
/*********************************************************************
 *  Dashboard - Settings Styles
 *********************************************************************/
#ctl00_ContentPlaceHolder1_cbxAllowDigitalSignatures ~ table {
  width: 100%;
}
#ctl00_ContentPlaceHolder1_cbxAllowDigitalSignatures ~ table td:last-of-type {
  width: 75px;
}


  
  
  /* This can apply to all tables of ID #ctl00_ContentPlaceHolder1_rgMain_ctl00 */
  #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:last-of-type {   /* Manage Col*/
    width: 90px !important;
  }
  
  
  
  
  
  /*
    Admin - User Tables
  */
  /* For the User's table let's make the last col a bit larger */
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:nth-last-child(3){ /* Status Col */
    width: 90px;
  }  
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:nth-last-child(4),  /* Role Col */
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:nth-last-child(5),  /* Originated Col */
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:last-of-type {      /* Manage Col */
    width: 100px !important;
  }form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:nth-last-child(2){ /* Security col */
    width: 120px !important;
  }
  
  /* Center the text in the last 5 cols */
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 th:nth-child(1n+4),
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 td:nth-child(1n+4) {
    text-align: center;
  }
  
  /* Right justify the text in the manage col */
  form[action="./users.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 td:last-of-type {
    text-align: right;
  }
  
  form[action="./users.aspx"] tr.rgAltRow td:last-of-type div,
  form[action="./users.aspx"] tr.rgRow td:last-of-type div {
    visibility: hidden;
  }
    form[action="./users.aspx"] tr.rgAltRow td:last-of-type div a,
    form[action="./users.aspx"] tr.rgRow td:last-of-type div a {
      visibility: visible;
    }
  
  /*
    Hide the link to the current user - i.e. the link to change or deactivate are disabled... no point in showing
  */
  form[action="./users.aspx"] a[disabled=disabled],
  form[action="./users.aspx"] a[disabled=disabled] + div {
    display: none;
    visibility: hidden;
  }


/* Formating for the Time selection labels*/
.main_content table:nth-of-type(3) td label {
  display: inline;
}

#ctl00_ContentPlaceHolder1_rgMain_ctl00  th:nth-of-type(8) i.fa { /* Created Col*/  
  display: inline;
  top: -25px;
}

@media (max-width: 978px) {
  #ctl00_ContentPlaceHolder1_rgMain_ctl00  th:nth-of-type(7) i.fa {  /* Entered By Col*/  
    display: inline;
    top: -25px;
  }
}

@media (max-width: 1100px) {
  .main_content table:nth-of-type(3) td {
    vertical-align: top;
  }
  .main_content table:nth-of-type(3) td label {
    display: inline-block;
  }
  #ctl00_ContentPlaceHolder1_rgMain_ctl00  th:nth-of-type(6) i.fa { /* Review Col*/
    display: inline;
    top: -25px;
  }  
}


/* table footer style */
#ctl00_ContentPlaceHolder1_rgMain_ctl00 .rgNumPart {
  padding: 0 15px;
}
 /*********************************************************************
 *  Disclosure Styles
 *********************************************************************/

 /*********************************************************************
 *  Invention Disclosure Styles */
 
   /* Make the Invention Specific Detailed Descrition Text Area taller */
   #ctl00_ContentPlaceHolder1_customFields1_customfield2355641_txtInput,  /* Tangible Materials Disclosure */
   #ctl00_ContentPlaceHolder1_customFields1_customfield2355139_txtInput,  /* Creative Works Disclosure */
   #ctl00_ContentPlaceHolder1_customFields1_customfield2355333_txtInput,  /* Software Disclosure*/
   #ctl00_ContentPlaceHolder1_customFields1_customfield2354796_txtInput { /* Invention Disclosure */
     height: 500px;
   }
  /*  Make every textbox within tables 100% of the col width */
  table td input[type=text] {
    width: 100%;
  }
   
  /*  
    Hide the the first table which happens to be the table containing the TechID, Status, 
    Disclosure Title, and ID, etc. 
  */ 
   #ctl00_ContentPlaceHolder1_updatePanelDisclosure > table:first-of-type {
    display: none;
    visibility: hidden;
  }

  /* 
    Hides the "Save as Draft" Link from the status box 
  */ 
  #ctl00_ContentPlaceHolder1_divDraftSaveAsDraft  {         
    visibility: hidden;
    display: none;
  } 

  /*
    Hide Col from various tables
  */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 col:nth-of-type(3),/* The Role Col for Inventors */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 th:nth-of-type(3), /* The Role Header for Inventors */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 td:nth-of-type(3), /* The Role Data for Inventors */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 col:nth-of-type(4),/* The Order Col for Inventors */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 th:nth-of-type(4), /* The Order Header for Inventors */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 td:nth-of-type(4)  /* The Order Data for Inventors */
  /*
  #ctl00_ContentPlaceHolder1_rgParticipation_ctl00 col:last-of-type,
  #ctl00_ContentPlaceHolder1_rgParticipation_ctl00 th:last-of-type,
  #ctl00_ContentPlaceHolder1_rgParticipation_ctl00 td:last-of-type,*/{
    /*display: none;
    visibility: hidden;*/
    width: 0px !important
  }

  /******************************************************************** 
    Format the Manage Col
    Remove the left side border for "manage" col on tables  -
    Right aling the Save / Delete so it doesn't look like a collumn
  *********************************************************************/
  .fundingTable table:nth-of-type(2) th:nth-last-child(2),  /* Funding Information Table - Gratn/Contract/Award/ID Col */
  .fundingTable table:nth-of-type(2) td:nth-last-child(2),  /* Funding Information Table - Gratn/Contract/Award/ID Col */
  #ctl00_ContentPlaceHolder1_customFields1_customfield2355172_tblRows  th:nth-last-child(2), /* Public Disclosure Table (Creative Works) - When (date critical)  Col */
  #ctl00_ContentPlaceHolder1_customFields1_customfield2355172_tblRows th:nth-last-child(2),  /* Public Disclosure Table (Creative Works) - When (date critical)  Col */
  #ctl00_ContentPlaceHolder1_customFields1_customfield2354832_tblRows th:nth-last-child(2),  /* Public Disclosure Table - When (date critical)  Col */
  #ctl00_ContentPlaceHolder1_customFields1_customfield2354832_tblRows td:nth-last-child(2),  /* Public Disclosure Table - When (date critical) Col */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 th:nth-last-child(2), /* Inventors Table - Contribution Col */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 td:nth-last-child(2), /* Inventors Table - Contribution Col */
  #ctl00_ContentPlaceHolder1_sectiondocuments_rgMain_ctl00 th:nth-last-child(2), /* Document Table - Created Col */
  #ctl00_ContentPlaceHolder1_sectiondocuments_rgMain_ctl00 td:nth-last-child(2)  /* Document Table - Created Col */{
    border-right: 0;
  }
 
  body:not(.readonly) .fundingTable table:nth-of-type(2) th:last-child,  /* Funding Information Table - Manage Col */
  body:not(.readonly) .fundingTable table:nth-of-type(2) td:last-child,  /* Funding Information Table - Manage Col */
  body:not(.readonly) #ctl00_ContentPlaceHolder1_customFields1_customfield2355172_tblRows  th:last-child, /* Public Disclosure Table (Creative Works) - Manage Col */
  body:not(.readonly) #ctl00_ContentPlaceHolder1_customFields1_customfield2355172_tblRows th:last-child,  /* Public Disclosure Table (Creative Works) - WManage Col */
  body:not(.readonly) #ctl00_ContentPlaceHolder1_customFields1_customfield2354832_tblRows th:last-child,  /* Public Disclosure Table - Manage Col */
  body:not(.readonly) #ctl00_ContentPlaceHolder1_customFields1_customfield2354832_tblRows td:last-child, /* Public Disclosure Table - Manage Col */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 th:last-child, /* Inventors Table - Manage Col */
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 td:last-child, /* Inventors Table - Manage Col */
  #ctl00_ContentPlaceHolder1_sectiondocuments_rgMain_ctl00 th:last-child, /* Document Table - Manage Col */
  #ctl00_ContentPlaceHolder1_sectiondocuments_rgMain_ctl00 td:last-child,  /* Document Table - Manage Col */
  #ctl00_ContentPlaceHolder1_sectiondocuments_rgMain_ctl00 th:nth-last-child(2), /* Document Table - Created Col */
  #ctl00_ContentPlaceHolder1_sectiondocuments_rgMain_ctl00 td:nth-last-child(2),  /* Document Table - Created Col */
  #ctl00_ContentPlaceHolder1_sectionremarks_rgMain_ctl00 th:last-child,   /* Remarks Table - Created Col */
  #ctl00_ContentPlaceHolder1_sectionremarks_rgMain_ctl00 td:last-child    /* Remarks Table - Created Col */
  {
    border-left: 0;
    text-align: right;
    width: 90px;    
  }
  body.readonly .fundingTable table:nth-of-type(2) th:last-child,  /* Funding Information Table - Manage Col */
  body.readonly .fundingTable table:nth-of-type(2) td:last-child,  /* Funding Information Table - Manage Col */
  #ctl00_ContentPlaceHolder1_sectionremarks_rgMain_ctl00 th:first-child, /* Remark Table - By  Col */
  #ctl00_ContentPlaceHolder1_sectionremarks_rgMain_ctl00 td:first-child,  /* Remark Table - By Col */
  body.readonly #ctl00_ContentPlaceHolder1_customFields1_customfield2355172_tblRows th:last-child, /* Public Disclosure Table (Creative Works) - Manage Col */
  body.readonly #ctl00_ContentPlaceHolder1_customFields1_customfield2355172_tblRows th:last-child,  /* Public Disclosure Table (Creative Works) - WManage Col */
  body.readonly #ctl00_ContentPlaceHolder1_customFields1_customfield2354832_tblRows th:last-child,  /* Public Disclosure Table - Manage Col */
  body.readonly #ctl00_ContentPlaceHolder1_customFields1_customfield2354832_tblRows td:last-child   /* Public Disclosure Table - Manage Col */
  {
    width: 250px;
  }

  /* 
    Funding Table with NO rows entered, will have a row with a colspan of 3 and the text "Nothing entered yet"
    Ensure that the text alightment is left
  */
  .fundingTable table:nth-of-type(2) td[colspan="3"] {
    text-align: left;
  }
  /*
    Funding 
  */
  .customLabel {
    font-weight: bold;
  }
  
    /* Funding customLabel */ 
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355189.customLabel,  /* Creative Work Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2354844.customLabel,  /* Invention Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355350.customLabel,  /* Software Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355651.customLabel { /* Tangible Materials Disclosure */
      font-weight: bold;
    }
    
    /*
      Compliance section 
    */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355284.customLabel > .fieldtooltip,  /* Creative Work Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355286.customLabel > .fieldtooltip,  /* Creative Work Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2354936.customLabel > .fieldtooltip,  /* Invention Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2354940.customLabel > .fieldtooltip,  /* Invention Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355382.customLabel > .fieldtooltip,  /* Software Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355378.customLabel > .fieldtooltip,  /* Software Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355681.customLabel > .fieldtooltip,  /* Tangible Materials Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355679.customLabel > .fieldtooltip { /* Tangible Materials Disclosure */
      text-decoration: none;
      display: inline-block;
    }
    
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355284.customLabel:not(.fieldtooltip),  /* Creative Work Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355286.customLabel:not(.fieldtooltip),  /* Creative Work Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2354936.customLabel:not(.fieldtooltip),  /* Invention Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2354940.customLabel:not(.fieldtooltip),  /* Invention Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355382.customLabel:not(.fieldtooltip),  /* Software Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355378.customLabel:not(.fieldtooltip),  /* Software Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355681.customLabel:not(.fieldtooltip),  /* Tangible Materials Disclosure */
    #ctl00_ContentPlaceHolder1_customFields1_customfield2355679.customLabel:not(.fieldtooltip) { /* Tangible Materials Disclosure */
      text-decoration: none;
      font-weight: strong;
      display: block;

      /* margin-right: calc( 100% - 855px); /* 855px is the max length of the text that we do NOT want to underline*/
      
    }
    
    .Tangible_Materials_Disclosure  .customLabel {
      font-weight: bold;
    }
    
  /*
    Fix the input_label for check boxes, let's indent them and unbold them
  */
  .input_label input {
    margin-left: 15px;
  }
    .input_label input + label {
      font-weight: normal;
    }
    /* don't display a div that has no content - spacing can be obtained by styling not brut force */
    .input_label + div:empty,
    .input_label + div:empty + div:empty {
      display: none;
      
    }
    
  
  /******************************************************************** 
    Format for review
  *********************************************************************/
  /* 
    NOTE:  These fields do not have a solid / static ID.  they change 
            from disclosure to disclosure, so styling has to be done
            with that in mind...                                      
  */
      
  /******************************************************************** 
    Table Specific Styles 
  *********************************************************************/
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 col:nth-last-child(2) {  /* Inventors Table - Contribution Col */
    width: 90px;
  }
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 col:nth-child(3) { /* Inventors Table - Role Col */
    width: 100px;
  }

  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 td:nth-child(3),
  #ctl00_ContentPlaceHolder1_customFields1_sectionInventors_rgMain_ctl00 td:nth-last-child(2) {
    text-align: center;
  }

  /* Funding Table specific styles */
  .fundingTable {
    position: relative;
    top: -8px;
  }               
    .fundingTable .feedback_failure {
      position: absolute;
      top: 5px;
      left: 115px;
    }

  .fundingTable span.input_label {
    display: none;
    visibility: hidden;
  }
  
  .fundingTable > span > div > table tr:first-of-type td:first-of-type,
  .fundingTable > span > div > table tr:first-of-type td:nth-of-type(2) {
    width: 0px;
    margin: 0;
    padding: 0;    
  }
  .fundingTable > span > div >  table tr:first-of-type td:last-of-type  {
    text-align: left;
  }

/*  EOF Invention Disclosure Styles
*********************************************************************/
  

/*********************************************************************
 Signature Styles 
*********************************************************************/
#ctl00_ContentPlaceHolder1_rgParticipation_ctl00 col:nth-child(2)  {
  width: 70px;
}
 
#ctl00_ContentPlaceHolder1_rgParticipation_ctl00 th:nth-child(2),
#ctl00_ContentPlaceHolder1_rgParticipation_ctl00 td:nth-child(2)  {
  text-align: center;
  padding: 0;
}

#ctl00_ContentPlaceHolder1_txtSignTerms_txtInput {
  font-family: cursive;
  padding-left: 5px;
}

textarea#ctl00_ContentPlaceHolder1_txtTerms {
  height: 340px;
  text-align: justify
}


/*
  Hide the Status from the Submitted box unless logged in user is an Admin
*/

body:not(.admin) #ctl00_ContentPlaceHolder1_divSubmittedStatus,
body:not(.admin) #ctl00_ContentPlaceHolder1_divSubmittedApprove,
body:not(.admin) #ctl00_ContentPlaceHolder1_divSubmittedBackToDraft {
  display: none !important;
  visibility: hidden;
}

/*
  Fix the size issue with the button with the text Form Accepted
*/

input#ctl00_ContentPlaceHolder1_btnApprove_btnSubmit[value=" Form Accepted                                                                                                                                         "] {
  max-width: 137px;
}


/* page title */
.titlebar { margin-bottom:10px; }
.titlebar_right { height:53px;  width:0px; background-color: transparent;  border-bottom-right-radius: 7px; border-top-right-radius: 7px;}
.titlebar_middle { height:53px; background-image:none; }
.titlebar_left { height:53px; width:0px; background-color:  transparent; border-bottom-left-radius: 7px; border-top-left-radius: 7px; }




@media (max-width: 767px) {
  
  .page-body {
    padding-top: 122px;
  }
  .logged_in {
    margin-top: 134px;
  }
  #navbar.scrolled-away {
      top: -93px;
  }  
  header.navbar .cttc-header .vu-logo-container {
    float: none;
    text-align: center;
  }
  header.navbar .cttc-header .cttc-logo-container {
    text-align: center;
  }
  header.navbar .cttc-header .cttc-logo-container img {
    display: inline-block;
  } 
  .nav.secondary {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-width: 288px;
  }    
    .nav.secondary li {
      display: inline-block;
    }
    
  .footer .copyright-container, 
  footer .copyright-container {
    text-align: center;
  }    
    footer .locate-on-map, footer .give-us-a-call {
      border-bottom: 1px solid #222;
      padding-bottom: 1em;
    }  
}
@media (max-width: 516px) {
  .page-body {
    padding-top: calc(3.0% + 102px);
  }
  .logged_in {
    margin-top: calc(3.0% + 110px);
  }
}

@media (max-width: 380px) {
  .page-body {
    padding-top: calc(2% + 95px);
  }
  .logged_in {
    margin-top: calc(4% + 100px);
  }
}

/* Over rides */
html.overlay-open .navbar-fixed-top{z-index:400}html.js fieldset.collapsed{height:auto}html.js input.form-autocomplete{background-image:none}body{position:relative}body.admin-expanded.admin-vertical.admin-nw .navbar,body.admin-expanded.admin-vertical.admin-sw .navbar{margin-left:260px}body.navbar-is-fixed-top{padding-top:64px!important}body.navbar-is-fixed-bottom{padding-bottom:64px!important}body.toolbar{padding-top:30px!important}body.toolbar .navbar-fixed-top{top:30px}body.toolbar.navbar-is-fixed-top{padding-top:94px!important}body.toolbar-drawer{padding-top:64px!important}body.toolbar-drawer .navbar-fixed-top{top:64px}body.toolbar-drawer.navbar-is-fixed-top{padding-top:128px!important}body.admin-menu .navbar-fixed-top{top:29px}body.admin-menu.navbar-is-fixed-top{padding-top:93px!important}body div#admin-toolbar{z-index:1600}body #toolbar,body #admin-menu,body #admin-toolbar{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}body #admin-menu{margin:0;padding:0;position:fixed;z-index:1600}body #admin-menu .dropdown li{line-height:normal}.navbar.container{margin-top:20px}@media screen and (min-width:768px){.navbar.container{max-width:720px}}@media screen and (min-width:992px){.navbar.container{max-width:940px}}@media screen and (min-width:1200px){.navbar.container{max-width:1140px}}.navbar.container>.container{margin:0;padding:0;width:auto}#overlay-container,.overlay-modal-background,.overlay-element{z-index:1500}#toolbar{z-index:1600}.modal{z-index:1620}.modal-dialog{z-index:1630}.modal-backdrop{z-index:1610}.footer{margin-top:45px;padding-top:35px;padding-bottom:36px;border-top:1px solid #E5E5E5}.element-invisible{margin:0;padding:0;width:1px}.navbar .logo{margin-right:-15px;padding-left:15px;padding-right:15px}@media screen and (min-width:768px){.navbar .logo{margin-right:0;padding-left:0}}ul.secondary{float:left}@media screen and (min-width:768px){ul.secondary{float:right}}.page-header{margin-top:0}.block:first-child h2.block-title{margin-top:0}p:last-child{margin-bottom:0}.region-help>.glyphicon{font-size:18px;float:left;margin:-.05em .5em 0 0}.region-help .block{overflow:hidden}form#search-block-form{margin:0}.navbar #block-search-form{float:none;margin:5px 0 5px 5px}@media screen and (min-width:992px){.navbar #block-search-form{float:right}}.navbar-search .control-group{margin-bottom:0}ul.action-links{margin:12px 0;padding:0}ul.action-links li{display:inline;margin:0;padding:0 6px 0 0}ul.action-links .glyphicon{padding-right:.5em}input,textarea,select,.uneditable-input{max-width:100%;width:auto}input.error{color:#b94a48;border-color:#ebccd1}fieldset legend.panel-heading{float:left;line-height:1em;margin:0}fieldset .panel-body{clear:both}fieldset .panel-heading a.panel-title{color:inherit;display:block;margin:-10px -15px;padding:10px 15px}fieldset .panel-heading a.panel-title:hover{text-decoration:none}.form-actions{clear:both}.resizable-textarea textarea{border-radius:4px 4px 0 0}.radio:first-child,.checkbox:first-child{margin-top:0}.radio:last-child,.checkbox:last-child{margin-bottom:0}.help-block,.control-group .help-inline{color:#999;font-size:12px;margin:5px 0 10px;padding:0}.panel-heading{display:block}a.tabledrag-handle .handle{height:auto;width:auto}.error{color:#b94a48}div.error,table tr.error{background-color:#f2dede;color:#b94a48}.control-group.error{background:0}.control-group.error label,.control-group.error .control-label{color:#b94a48;font-weight:600}.control-group.error input,.control-group.error textarea,.control-group.error select,.control-group.error .uneditable-input{color:#555;border:1px solid #ccc}.control-group.error .help-block,.control-group.error .help-inline{color:#333}.list-inline>li.first{padding-left:0}.nav-tabs{margin-bottom:10px}ul li.collapsed,ul li.expanded,ul li.leaf{list-style:none;list-style-image:none}.tabs--secondary{margin:0 0 10px}.submitted{margin-bottom:1em;font-style:italic;font-weight:400;color:#777}.password-strength{width:17em;float:right;margin-top:1.4em}.password-strength-title{display:inline}.password-strength-text{float:right;font-weight:700}.password-indicator{background-color:#949494;height:.3em;width:100%}.password-indicator div{height:100%;width:0;background-color:#999}input.password-confirm,input.password-field{width:16em;margin-bottom:.4em}div.password-confirm{float:right;margin-top:1.5em;visibility:hidden;width:17em}div.form-item div.password-suggestions{padding:.2em .5em;margin:.7em 0;width:38.5em;border:1px solid #B4B4B4}div.password-suggestions ul{margin-bottom:0}.confirm-parent,.password-parent{clear:left;margin:0;width:36.3em}.progress-wrapper .progress{margin-bottom:10px}.pagination ul>li>a.progress-disabled{float:left}.form-autocomplete .glyphicon{color:#999;font-size:120%}.form-autocomplete .glyphicon.glyphicon-spin{color:#428bca}.form-autocomplete .input-group-addon{background-color:#fff}.ajax-progress .glyphicon{font-size:90%;margin:0 -.25em 0 .5em}.glyphicon-spin{display:inline-block;-moz-animation:spin 1s infinite linear;-o-animation:spin 1s infinite linear;-webkit-animation:spin 1s infinite linear;animation:spin 1s infinite linear}a .glyphicon-spin{display:inline-block;text-decoration:none}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.glyphicon-refresh{-webkit-transform-origin:50% 45%;-moz-transform-origin:50% 45%;-ms-transform-origin:50% 45%;-o-transform-origin:50% 45%;transform-origin:50% 45%}.tabbable{margin-bottom:20px}.tabs-below>.nav-tabs,.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{border-bottom:0}.tabs-below>.nav-tabs .summary,.tabs-left>.nav-tabs .summary,.tabs-right>.nav-tabs .summary{color:#999;font-size:12px}.tab-pane>.panel-heading{display:none}.tab-content>.active{display:block}.tabs-below>.nav-tabs{border-top:1px solid #ddd}.tabs-below>.nav-tabs>li{margin-top:-1px;margin-bottom:0}.tabs-below>.nav-tabs>li>a{border-radius:0 0 4px 4px}.tabs-below>.nav-tabs>li>a:hover,.tabs-below>.nav-tabs>li>a:focus{border-top-color:#ddd;border-bottom-color:transparent}.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:hover,.tabs-below>.nav-tabs>.active>a:focus{border-color:transparent #ddd #ddd}.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{padding-bottom:20px;width:220px}.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li{float:none}.tabs-left>.nav-tabs>li:focus,.tabs-right>.nav-tabs>li:focus{outline:0}.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a{margin-right:0;margin-bottom:3px}.tabs-left>.nav-tabs>li>a:focus,.tabs-right>.nav-tabs>li>a:focus{outline:0}.tabs-left>.tab-content,.tabs-right>.tab-content{border-radius:0 4px 4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);-moz-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05);border:1px solid #ddd;overflow:hidden;padding:10px 15px}.tabs-left>.nav-tabs{float:left;margin-right:-1px}.tabs-left>.nav-tabs>li>a{border-radius:4px 0 0 4px}.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus{border-color:#eee #ddd #eee #eee}.tabs-left>.nav-tabs>.active>a,.tabs-left>.nav-tabs>.active>a:hover,.tabs-left>.nav-tabs>.active>a:focus{border-color:#ddd transparent #ddd #ddd;-webkit-box-shadow:-1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:-1px 1px 1px rgba(0,0,0,.05);box-shadow:-1px 1px 1px rgba(0,0,0,.05)}.tabs-right>.nav-tabs{float:right;margin-left:-1px}.tabs-right>.nav-tabs>li>a{border-radius:0 4px 4px 0}.tabs-right>.nav-tabs>li>a:hover,.tabs-right>.nav-tabs>li>a:focus{border-color:#eee #eee #eee #ddd;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.05);box-shadow:1px 1px 1px rgba(0,0,0,.05)}.tabs-right>.nav-tabs>.active>a,.tabs-right>.nav-tabs>.active>a:hover,.tabs-right>.nav-tabs>.active>a:focus{border-color:#ddd #ddd #ddd transparent}th.checkbox,td.checkbox,th.radio,td.radio{display:table-cell}.views-display-settings .label{font-size:100%;color:#666}.views-display-settings .footer{padding:0;margin:4px 0 0}table .radio input[type=radio],table .checkbox input[type=checkbox]{max-width:inherit}.form-horizontal .form-group label{position:relative;min-height:1px;margin-top:0;margin-bottom:0;padding-top:7px;padding-left:15px;padding-right:15px;text-align:right}@media (min-width:768px){.form-horizontal .form-group label{float:left;width:16.666666666666664%}}.alert a{font-weight:700}.alert-success a{color:#356635}.alert-info a{color:#2d6987}.alert-warning a{color:#a47e3c}.alert-danger a{color:#953b39}

@media print {
  a.disc_exp:link, a.disc_exp:visited, a.disc_exp:hover, a.disc_exp:active {
    background-color: rgba(188, 188, 188, 0.1) !important
    
  }
  .expand_region {
    margin-bottom: 25px;
    page-break-after: auto !important;
    border: none;
  }
    .input_label {
      width: calc(100% - 30px;) !important;
    }
  
  #navbar, /* Hide the entire header*/
  td#ctl00_tdNavigation, /* Side Bar Navigation */
  #ctl00_ContentPlaceHolder1_ddnStatus, /* Disclusion Status*/
  input[type=submit],  /* All submit buttons */
  #ctl00_pnlLoggedIn, /* Welcome Message*/
  #ctl00_ContentPlaceHolder1_pnlMain > table + .content_indent > table, /*  Save / Download Buttons */
  #ctl00_ContentPlaceHolder1_ddnType, /* disclosure Type Dropdown */
  #ctl00_ContentPlaceHolder1_ddnType + div, /* The empty Div (Hight Adjuster) after disclosure Type Dropdown */
  #ctl00_ContentPlaceHolder1_cicInfoTop_divMain, /* Placeholder for Info / Error messages */
  #ctl00_ContentPlaceHolder1_cicInfoTop_divMain + div,  /* Div after, adds Hight after ctl00_ContentPlaceHolder1_cicInfoTop_divMain */
  a.disc_exp[href]:after, /* Link hrefs for "fieldsets" */
  #ctl00_ContentPlaceHolder1_sectiondocuments_pnlAdd, /* Add Document Button and supporting fields */
  #footer,  /* Hide the footer information */
  #ctl00_ContentPlaceHolder1_updatePanelDisclosure > table:first-of-type, /* Empty Div used for Height Adjustments */
  .main_content div:empty /* All empty Divs within main content */
  {
    display: none;
    visibility: hidden;
  }

  div#ctl00_ContentPlaceHolder1_pnlStatusSubmitted > div:nth-child(n+3) {  /* All but the status message and title */
    display: none !important;
    visibility: hidden !important;
  }

  .RadGrid_Default th.rgHeader /* Change the font color for tables to white so they are vissible */{
      color: #FFFFFF !important;
  }
  
  .logged_in + .page-body {
    padding-top: 0px;
  }
  
  .page-body > table:before {
    content: url(../images/cttc/printed_logo.png) !important;
    visibility: visible !important;
    display: inline-block !important;
    margin: 0 calc(50% - 108px);
    page-break-after: avoid;
  }
  
  #ctl00_tdNavigation.navigation + td {
    padding-top: 0px;
  }
  
  #ctl00_tdNavigation.navigation + td > table tr:first-of-type:empty,
  #ctl00_tdNavigation.navigation + td > table tr:first-of-type > td.contentbox_tl:empty,
  #ctl00_tdNavigation.navigation + td > table tr:first-of-type > td.contentbox_tm:empty,  
  #ctl00_tdNavigation.navigation + td > table tr:first-of-type > td.contentbox_tr:empty {
    visibility: hidden;
    display: none;
  }
  
  #ct100_ContentPlaceHolder_wrapper {
    padding-bottom: 15px;
  }
  input, textarea, select, .uneditable-input  {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    border: none;
  }
    textarea {
      margin-left: 15px !important;
      margin-right: 15px !important;
      resize: none;
      width: calc(100% - 30px) !important;
    }
    select {'
      margin-left: 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  .input_label > * {
    display: inline !important;
    max-width: calc(100% - 30px) !important;
  }
  .input_label > .fieldtooltip {
    margin-left: 5px;
    margin-right: 5px;
  }
  .input_label ~ .input_text,
  .input_label ~ .input_dropdown {
    display: block;
    margin-left: 15px;
  }
}



/*
 * ERROR Styles
 */
#browser_support_error,
#login_credentials.version_error {
  display: none;
  visibility: hidden;
}
#browser_support_error {
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  position: relative;
  margin: 24px 0 0 87px;
  width: 430px;
  border: 1px solid;
}
  #browser_support_error i.fa-info-circle{
    position: absolute;
    font-size: 3em;
    height: 15px;
    display: inline-block;
    top: 25%;
    color: red;
    left: 5px;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.52);
  }
#browser_support_error.version_error {
  display: block;
  visibility: visible;
  margin-top: 12px;
}


.login_content #ctl00_ContentPlaceHolder1_cicFeedback {
  position: absolute;
  width: 201px;
  left: 340px;
  bottom: 16px;
}