/*********************************************************************
 *  Dashboard -  Global Dashboard Styles
 *********************************************************************/
  #ctl00_header_div ~ table {
  margin: 0 2.5%;
  max-width: 95%;
}
  
  