/*********************************************************************
 *  Dashboard - Detailed View Styles
 *********************************************************************/
.Detailed_View table td input[type=text] {
  width: 95%;
}

 /* Hide the Invention Id Col*/
/* 
  NOTE: Becaues we are hidding the first colubm and this table DOES have a footer...
        AND that footer is within a tr > td with colspan 9... we used jquery to change 
        That 9 to 8... see cttc.js  function: AdjustDetailViewTable
*/
form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 col:first-of-type,
form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 th:first-of-type,
form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 tr.rgRow td:first-of-type,
form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00 tr.rgAltRow td:first-of-type {
  display: none;
  visibility: hidden;
}

  /* Change the size of several */
  #ctl00_ContentPlaceHolder1_rgMain_ctl00  col:nth-last-child(2),  /* Created Col - universal to all tables of ID #ctl00_ContentPlaceHolder1_rgMain_ctl00 */
  form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00  col:nth-of-type(2) { /* Tech ID Col*/
    width: 80px;
  }

  form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00  col:nth-of-type(5) { /* Status Col*/
    width: 85px;
  }

  form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00  col:nth-of-type(6) { /* Review Col*/
    width:113px;
  }

  form[action="./mydisclosures.aspx"] #ctl00_ContentPlaceHolder1_rgMain_ctl00  col:nth-of-type(8) { /* Signature Col*/
    width:50px;
  } 
  
  
  