/*********************************************************************
 *  Footer Styles
 *  Includes:  all elements of the footer
 *********************************************************************/

.footer, footer {
    background-image: url(../images/CTTC/cttc_footer_filler.png);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #1a1a1a;
    padding-top: 1em;
    margin-top: 1em;
    color: #b5b5b5;
    font-size: 95%;
    padding-bottom: 36px;
    border-top: 1px solid #E5E5E5;
    line-height: 24px;
}
    .footer strong, footer strong {
        color: #fefefe;
        font-weight: normal;
    }
    .footer a, .footer a:active, .footer a:visited {
        text-decoration: none !important;
    }

    .footer .row > div, footer .row > div {
        margin-bottom: 1em;
        height: 6em;
        padding: 0;
    }
        .footer .locate-on-map, footer .locate-on-map {
            cursor: pointer;
            background-image: url(../images/CTTC/icons/map.png);
            background-position: 15px top;
            background-repeat: no-repeat;
            padding-left: 60px;
            color: #b5b5b5;
            display: block;
        }    
            .footer .locate-on-map:hover, footer .locate-on-map:hover {
                background-image: url(../images/CTTC/icons/map_hover.png);
                color: #fff;
            }        
        .footer .give-us-a-call, footer .give-us-a-call {
            background-image: url(../images/CTTC/icons/phone.png);
            background-position: 15px top;
            background-repeat: no-repeat;
            padding-left: 60px;
        }
            .footer .give-us-a-call:hover, footer .give-us-a-call:hover {
                background-image: url(../images/CTTC/icons/phone_hover.png);
                color: #fff;
            }
        .footer .copyright-container, footer .copyright-container {
            text-align: right;
            padding-right: 16px;
        }
            .footer .copyright-container a, footer .copyright-container a {
                color: #fff;
            }

        .footer .copyright-tag, footer .copyright-tag {
            color: #777;
            margin-bottom: 1ex;
            display: inline-block;
        }        
.btn {
    padding: .75ex 1em;
    border-radius: 1ex;
    font-size: 98%;
    line-height: 1.3;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border: none;
    transition: background .25s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

.btn-footer {
    color: #fff;
    background: #997f3d;
}

    .btn-footer:hover, .btn-footer:focus, .btn-footer:active, .btn-footer.active, .open .dropdown-toggle.btn-footer {
        text-decoration: none;
        color: #fff;
        background: #d8ab4c;
    }