/*********************************************************************
 *  Header Styles
 *  Includes:  Header, navbar, menu, etc.
 *********************************************************************/

header.navbar .cttc-header {
    background-color: #000;
    background-image: url(../images/CTTC/cttc_header_filler.png);
    background-repeat: repeat-x;
    padding: 6px 0 3px;
}
  header.navbar .cttc-header > .container {
  }
    header.navbar .cttc-header .cttc-logo {
        margin-bottom: 5px;
    }
    header.navbar .cttc-header .logo-container {
        margin: 1ex 0;
    }
        header.navbar .cttc-header .logo-container img {
            vertical-align: top;
        }

    header.navbar .cttc-header .vu-logo-container {
        float: right;
        text-align: right;
    }
        header.navbar .cttc-header .vu-logo {
            display: block;
            margin: 0;
            padding: 0;
            margin-bottom: 1ex;
        }   
        
  /* secondary nav */
  .nav.secondary {
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      /* clip-rule: inherit; */
      overflow: hidden;
  }        

  /*
   * navbar
   */          

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top .3s;
    -webkit-transition: top .3s;
    margin-bottom: 0;
}
  #navbar.scrolled-away {
    top: -70px;
  }

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
  .navbar-nav > li > p,
  .navbar-nav > li > a {
      line-height: 16px;
      font-size: 100%;
      padding-top: 10px;
      padding-bottom: 9px;
      padding: 10px 10px;
      transition: background-color .25s;
  }

.navbar-toggle {
  margin: 2px 15px;
  background-color: #262a49;
  border-color: #262a49;
  box-shadow: inset 0 1em 1em rgba(255, 255, 255, .2);
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

  .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
  }    

  .navbar-default .navbar-nav > li > a:hover, 
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #353d6c;
  }

  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #202020;
  }
    .navbar-default .navbar-nav > li > p {
        color: #777;
        margin-bottom: 0;
    }   
    
  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: #353d6c;
    border-color:  #353d6c;
  }

  .navbar-container {
      background-image: url(../images/CTTC/cttc_navi_bg_filler.png);
      background-repeat: repeat-x;
      background-position: 0 -1px;
  }
    .navbar-container .container {
        position: relative;
    }
    .navbar-collapse.collapse {
        margin-left: -30px;
    }

    ul.menu li.collapsed, 
    ul.menu li.expanded, 
    ul.menu li.leaf {
        border-right: 1px solid #cecece;
        list-style: none;
        list-style-image: none;
    }
      .logged_in ul.menu li.collapsed:first-of-type, 
      .logged_in ul.menu li.expanded:first-of-type {
        border-left: 1px solid #cecece;
      }
    ul li.collapsed:last-child, ul li.expanded:last-child, ul li.leaf:last-child {
        border-right: none;
    }

    ul.menu li a, ul.menu li  a:active, ul.menu li  a:visited {
        text-decoration: none;
    }

      ul.menu + .logged_in {  
        margin:0px; 
      }