/*********************************************************************
 *  Login Screen Styles
 *  Styles that are aswsociated with only the login screen
 *********************************************************************/
form[action="./login.aspx"] .page-body {
  background: transparent url(../images/CTTC/login-background.png) no-repeat center;
  padding-top: 155px;
}
/* Login contentbox */
form[action="./login.aspx"] .main_content {
  padding: 5px 0px 0px 0px;
}

form[action="./login.aspx"] .contentbox_tl {
  background-image: none;
}

form[action="./login.aspx"] .contentbox_tm {
  background-image: none;
}

form[action="./login.aspx"] .contentbox_tr {
  background-image: none;
}

form[action="./login.aspx"] .contentbox_ml {
  background-image: none;
}

form[action="./login.aspx"] .contentbox_mr {
  background-image: none;
}

form[action="./login.aspx"] .contentbox_bl {
  background-image: none;
  height: 16px;
  background-repeat: no-repeat;
}

form[action="./login.aspx"] .contentbox_bm {
  background-image: none;
  height: 16px;
  background-repeat: repeat-x;
}

form[action="./login.aspx"] .contentbox_br {
  background-image: none;
  height: 16px;
  background-repeat: no-repeat;
}
form[action="./login.aspx"] .login_content > table {
  width: 90%;
}
  form[action="./login.aspx"] .login_content > table > tbody > tr:first-child {
    display: none;
  }

  /***************
  *  Browser Compatibility Check Styles
  ***************/
  
.compat-desktop {
  margin-left: 100px;
  position: absolute;
  right: 20px;
  top: 100px;
  background-color: #f0f0f1;
  padding: 15px;
  overflow: hidden;
  border-radius: 0 0px 15px 15px;
}

.htab {
  margin: 0 auto;
  display: inline-block;
  font-size: .75em;
  height: 0px;
  opacity: 0;
  transition: height 1s, visibility 1s, opacity 1s linear;
  -webkit-transition: height 1s, visibility 1s, opacity 1s linear;
  -moz-transition: height 1s, visibility 1s, opacity 1s linear;
  -o-transition: height 1s, visibility 1s, opacity 1s linear;
}

.compat-desktop:hover .htab {
  opacity: 1;
  visibility: visible;
  display: block;
  height: 144px;
}

.htab>ul {
  width: 150px;
  text-align: left;
  display: inline;
  padding: 0;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.htab>ul, .htab>ul>li, .htab>ul>li>a {
  cursor: pointer;
}

.htab>ul>li {
  background-color: #f1f6f8!important;
  border: 1px solid #f1f6f8;
  border: 1px solid rgba(212,221,228,0);
  border-radius: 0;
  color: #4d4e53;
  display: inline;
  height: 32px;
  list-style-type: none;
  margin: auto;
  opacity: .75;
  -ms-filter: unqoute("alpha(Opacity=75)");
  filter: unqoute("alpha(Opacity=75)");
  position: relative;
  padding: 5px 6px 3px;
  text-align: left;
  font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.htab>ul>li.selected {
  background-color: #eaeff2!important;
  border: 0 solid #f4f6f8;
  border: 0 solid rgba(212,221,228,.25);
  border-top: 2px solid #d4dde4;
  font-weight: 700;
  opacity: 1!important;
  -ms-filter: unqoute("alpha(Opacity=100)");
  filter: unqoute("alpha(Opacity=100)");
  padding-top: 4px;
  position: relative;
  z-index: 10;
}

.htab>div {
  background-color: #eaeff2;
  margin-top: 0;
  border: 0 solid #e5eaef;
  border: 0 solid rgba(212,221,228,.25);
  padding: 12px;
  position: relative;
  z-index: 9;
  word-wrap: break-word;
}

table.compat-table {
  border: 1px solid #bbb;
  border-collapse: collapse;
  border-color: transparent;
  margin: 0;
}

table.compat-table td.header, 
table.compat-table th {
  border: 1px solid #fff;
  border: 1px solid rgba(212,221,228,0);
  background: 0 0;
  padding: 2px 4px 8px;
  font-family: 'Open Sans Light',Helvetica,Arial,sans-serif;
  /*font-size: 16px;*/
  font-weight: 200;
  line-height: 100%;
}

table.compat-table td {
  padding: 5px;
  border: 1px solid #f4f6f8;
  border: 1px solid rgba(212,221,228,.25);
  font-size: 12px;
  background: #fff;
  vertical-align: top;
  word-wrap: breaak-word;
}

table.compat-table tr.version td:not(:first-of-type) {
  text-align: center;
}

table.compat-table td.browswer_supported {
  background-color: #00FF00;
}

table.compat-table td.browswer_unsupported {
  background-color: #FF0000;
}

a.nav_dashboard:link, a.nav_dashboard:visited, a.nav_dashboard:hover, a.nav_dashboard:active {
  font-weight: bold;
  font-size: 18px;
  color: #004eb3;
}
/* login */

.login .large_subtitle {
  color: inherit;
  position: relative;
  top: 10px;
}

form[action="./login.aspx"] .login .large_subtitle {
  right: 100px;
}

.login {
  background-image: none;
  background-repeat: no-repeat;
  width: 715px;
  height: 335px;
  margin: 100px 0px 0px 0px;
}

.login_content {
  padding: 0px 0px 0px 0px;
  position: relative;
}

form[action="./login.aspx"] .login_content {
  right: 116px;
  top: 168px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */  
  form[action="./login.aspx"] .login_content {
    top: 195px;
  }
}

