/*********************************************************************
 *  Logout Screen Styles
 *********************************************************************/
  form[action="./logout.aspx"] .page-body  {
    padding-top: 75px;
    background-image: url(../images/CTTC/background.jpg);
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: initial;
  }

form[action="./logout.aspx"],
form#aspnetForm {
    background-color: #FFF;
}

form[action="./logout.aspx"] .login_content {
  color: #FFF;
  font-weight: bold;
  right: 30px; 
  top: 15px; 
  width: 500px;  
}

  form[action="./logout.aspx"] .login_content table tr:nth-child(2) div,
  form[action="./logout.aspx"] .login_content table tr:nth-child(3) div {
    display: none;
  }
  form[action="./logout.aspx"] .login_content table tr:nth-child(4) td,
  form[action="./logout.aspx"] .login_content table tr:nth-child(5) td {
    /* color: red; */
    font-family: 'Walter Turncoat';
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 3px;
  }
  form[action="./logout.aspx"] .login_content table tr:nth-child(4) td {
    position: relative;
    bottom: 67px;
    transform: rotateZ(22deg);
    left: 355px;
    display: inline-block;
    width: 300px;
}

  form[action="./logout.aspx"] .login_content table tr:nth-child(5) td {
    top: 101px;
    position: relative;
    left: 87px;
    display: inline-block;
    width: 606px;
    padding: 3px 43px;
}

  form[action="./logout.aspx"] .login {
    width: 614px;
  }
  form[action="./logout.aspx"] #pnlAwaitingApproval,
  #ctl00_tdNavigation.navigation {
      width: 165px;
      padding: 32px 0px 0px 0px;
      font-size: 12px;
      line-height:16px
  }
  form[action="./logout.aspx"] #pnlAwaitingApproval {
    width: 100%;
  }   
  
