﻿body 
{
    font-family:Arial;
    font-size:small;
    margin:0px 15px 0px 15px;
    background-color:#f1f1f1;
}

h1
{
    color:#ffffff;
    font-size:24px;
    padding:0px;
    margin:-5px 0px 0px 0px;
}

h2
{
    font-size:18px;
    font-weight:bold;
    padding:0px;
    margin:0px 0px 5px 0px;
}

input[type=submit], input[type=button]
{
    border:solid 1px black;
    background-image:none;
    background: #0B0C41;
    height:27px;
    padding:0px 15px 0px 15px;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-size:14px;
    cursor: pointer;
}

textarea
{
    font-family:Arial;
    font-size:small;
    padding:4px;
    background-color:#fdfdfd;
}

input[type=text], input[type=password]
{
    padding:4px;
    background-color:#fdfdfd;
}

a:link, a:active, a:visited
{ 
	color:#004eb3;
	text-decoration:underline;
}
a:hover 
{
	color:#004eb3;
	text-decoration:none;
}

.subtitle
{
    color:#646464;
    font-size:14px;
    margin:0px 0px 15px 0px;
}

.subtitlebar
{
    border:solid 1px #c0c0c0;
    background-color:#efefef;
    padding:5px;
    font-size:16px;
    margin:0px 0px 15px 0px;
}

.large_subtitle
{
    color:#cd1c29;
    font-size:24px;
    font-weight:bold;
    margin:0px 0px 10px 0px;
}

.info
{
    margin:0px 0px 10px 0px;
}

.fieldlabel
{
    margin:0px 0px 5px 0px;
}

.prompt_warning
{
    padding:5px;
    border:solid 1px #e5db57;
    background-color:#fffbcc;
}

.content_indent
{
    margin-left:15px;
    margin-right:15px;
}

.feedback_failure
{
    display:inline-block;
    color:#666553;
    font-weight:bold;
    vertical-align:middle;
    border:solid 1px #e09091;
    background-color:#ffcecf;
    padding:4px 3px 3px 25px;
    margin-top:3px;
    background-image:url(../images/icon_error.png);
    background-repeat:no-repeat;
    background-position:3px 3px;
}
/*form control label text*/
.input_label
{
    padding:2px;
}
.small_desc
{
    color:#646464;
    font-size:11px;
}
/*form drop down control*/
.input_dropdown
{
    padding:2px;
    font-size:14px;
    width:auto;
}

/*form text box control */
.input_text
{
    padding:2px;
    font-size:14px;
    width: 250px;
}

.td_right
{
    padding-right:15px;
}

.fieldtooltip
{
    font-size:12px;
    font-style:italic;
    color:#646464;
}

.table_header
{
    background-color:#004a83;
    color:#ffffff;
}

/*Label type custom field*/
.customLabel
{
    margin-top: 10px;
    margin-bottom: 10px;
   /* font-style:italic;*/
}

/*line type custom field*/
.customHorizontalLine
{
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    vertical-align: top;
}

/*Add button on form build in sections*/
.SectionAddButton
{
    /*float: right;*/
}

/*log in button
  it's derived from  input[type=submit], input[type=button]
*/
.loginButton
{
    width:103px;
    height:34px;
    display: block;
}

/*request account button
    it's derived from  input[type=submit], input[type=button]
    to hide this button, change display value from 'block' to 'none'
*/
.requestAccountButton
{
    width:163px;
    height:34px;
    display:block; 
}

.EmptyDataRowStyle
{
    font-weight: bold;
    color: red;
}

.PDFDownloadLink
{
   
}

.WordDownloadLink
{
  
}
/* page title */
.titlebar { margin-bottom:10px; }
.titlebar_right { height:53px;  width:29px; background-color: #0b4225; border-bottom-right-radius: 7px; border-top-right-radius: 7px;}
.titlebar_middle { height:53px; background-image:url(../images/greenback1long2.png); }
.titlebar_left { height:53px; width:22px; background-color: black; border-bottom-left-radius: 7px; border-top-left-radius: 7px; }

/* overall layout */
.logo { margin:10px 0px 10px 10px; max-height:60px;}
.logged_in {  margin:10px 10px 0px 0px; }
/* header */
.header 
{ 
    height:65px; 
    background-color:#ffffff; 
}
.td_row
{
    padding:0px;
}
.header_table
{
    border:0px;
    padding:0px;
    border-spacing:0px;
    border-collapse:separate;
    width:100%;
}
.header_bl 
{ 
    height:23px; 
    background-image:url(../images/bg_header_bl.png); 
    background-repeat:no-repeat; 
}
.header_bm 
{ 
    height:23px; 
    background-image:url(../images/bg_header_bm.png); 
    background-repeat:repeat-x; 
}
.header_br 
{ 
    height:23px; 
    background-image:url(../images/bg_header_br.png); 
    background-repeat:no-repeat; 
}
/* contentbox */
.main_content { padding:5px 0px 0px 0px; }
.contentbox_tl { background-image:url(../images/contentbox_tl.png); height:7px; width:9px; background-repeat:no-repeat; }
.contentbox_tm { background-image:url(../images/contentbox_tm.png); height:7px; background-repeat:repeat-x; }
.contentbox_tr { background-image:url(../images/contentbox_tr.png); height:7px; width:9px; background-repeat:no-repeat; }
.contentbox_ml { background-image:url(../images/contentbox_ml.png); height:7px; width:9px; background-repeat:repeat-y; }
.contentbox_mm { background-color:#ffffff; min-width:500px; min-height:600px; }
.contentbox_mr { background-image:url(../images/contentbox_mr.png); height:7px; width:9px; background-repeat:repeat-y; }

.contentbox_row
{
    padding:0px;
}
.contentbox_bl 
{ 
    background-image:url(../images/contentbox_bl.png); 
    height:16px; 
    background-repeat:no-repeat; 
}
.contentbox_bm 
{ 
    background-image:url(../images/contentbox_bm.png); 
    height:16px; 
    background-repeat:repeat-x; 
}
.contentbox_br 
{ 
    background-image:url(../images/contentbox_br.png); 
    height:16px; 
    background-repeat:no-repeat; 
}
/* navigation */
.navigation { width:165px; padding:15px 0px 0px 0px; }
.nav_admin { margin-top:30px; }
.nav_admin_title { font-weight:bold; margin-bottom:5px; }
.nav_tab_on { background-image:url(../images/bg_navigation_tab.png); width:165px; height:35px; margin-bottom:6px; }
.nav_tab_off { background-image:url(../images/bg_navigation_tab.png); width:165px; height:35px; margin-bottom:6px; background-position:0px 35px; }
a.navlink_home:link, a.navlink_home:visited, a.navlink_home:hover, a.navlink_home:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_home.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_mydisclosures:link, a.navlink_mydisclosures:visited, a.navlink_mydisclosures:hover, a.navlink_mydisclosures:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_mydisclosures.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_adddisclosure:link, a.navlink_adddisclosure:visited, a.navlink_adddisclosure:hover, a.navlink_adddisclosure:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_adddisclosure.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_editprofile:link, a.navlink_editprofile:visited, a.navlink_editprofile:hover, a.navlink_editprofile:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_editprofile.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_settings:link, a.navlink_settings:visited, a.navlink_settings:hover, a.navlink_settings:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_settings.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_pdftemplate:link, a.navlink_pdftemplate:visited, a.navlink_pdftemplate:hover, a.navlink_pdftemplate:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_pdftemplate.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_disclosuretemplate:link, a.navlink_disclosuretemplate:visited, a.navlink_disclosuretemplate:hover, a.navlink_disclosuretemplate:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_disclosuretemplate.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_disclosuretypes:link, a.navlink_disclosuretypes:visited, a.navlink_disclosuretypes:hover, a.navlink_disclosuretypes:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_disclosuretypes.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_notifications:link, a.navlink_notifications:visited, a.navlink_notifications:hover, a.navlink_notifications:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_notifications.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_content:link, a.navlink_content:visited, a.navlink_content:hover, a.navlink_content:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_content.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_layout:link, a.navlink_layout:visited, a.navlink_layout:hover, a.navlink_layout:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_layout.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_migrate:link, a.navlink_migrate:visited, a.navlink_migrate:hover, a.navlink_migrate:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_migrate.png); background-repeat:no-repeat; background-position:5px 9px; }
a.navlink_users:link, a.navlink_users:visited, a.navlink_users:hover, a.navlink_users:active 
{ width:140px; height:25px; display:block; text-decoration:none; color:#000000; padding:10px 0px 0px 25px; background-image:url(../images/icon_users.png); background-repeat:no-repeat; background-position:5px 9px; }
/* dashboard */
.dashboard_stats { width:180px; }
.dashboard_stats_container { background-color:#0b4225; margin-bottom:10px; padding:10px; }
.dashboard_stats_item { font-size:16px; text-align:center; margin-bottom:5px; color:#ffffff; }
a.nav_dashboard:link, a.nav_dashboard:visited, a.nav_dashboard:hover, a.nav_dashboard:active { color:#f9ca44; font-weight:bold; font-size:18px; }
/* login */
.login .large_subtitle { color: #0b4225; }
.login { background-image:url(../images/bg_login.png); background-repeat:no-repeat; width:715px; height:335px; margin:100px 0px 0px 0px; }
.login_content { padding:10px 0px 0px 30px; }
.login_prompt { width:715px; position:absolute; margin-top:70px; }
a.nav_login:link, a.nav_login:visited, a.nav_login:active { color:#0b4225; text-decoration:none; font-weight:bold; }
a.nav_login:hover { color: blue; text-decoration: underline; }
/* disclosure */
.statusdraftbox { border:solid 2px #646464; background-color:#ffe599; padding:7px; width:220px; }
.statussubmittedbox { border:solid 2px #646464; background-color:#9fc5f8; padding:7px; width:220px; }
.statusapprovedbox { border:solid 2px #646464; background-color:#b6d7a8; padding:7px; width:220px; }
.statustitle { font-size:22px; font-weight:bold; text-align:center; }
.statusspacer { margin-top:7px; }
.statusspacercentered { margin-top:7px; text-align:center; }
.expand_region { padding:10px; border:solid 1px #c0c0c0; border-top-width:0px; }
a.disc_exp:link, a.disc_exp:visited, a.disc_exp:hover, a.disc_exp:active 
{ display:block; padding:5px; font-weight:bold; font-size:14px; color:#646464; background-color:#efefef; border:solid 1px #c0c0c0; text-decoration:none; background-image:url(../images/icon_arrow_up.png); background-repeat:no-repeat; background-position:right center; }
a.disc_col:link, a.disc_col:visited, a.disc_col:hover, a.disc_col:active 
{ display:block; padding:5px; font-weight:bold; font-size:14px; color:#646464; background-color:#efefef; border:solid 1px #c0c0c0; text-decoration:none; background-image:url(../images/icon_arrow_down.png); background-repeat:no-repeat; background-position:right center; }

/* RadGrids */
/* hyperlink color in grid */
div.RadGrid_Default .rgRow a,
div.RadGrid_Default .rgAltRow a,
div.RadGrid_Default .rgRow a:visited,
div.RadGrid_Default .rgRow a:active,
div.RadGrid_Default .rgAltRow a:visited,
div.RadGrid_Default .rgAltRow a:active
{
    color:#004eb3;
}
div.RadGrid_Default .rgRow a:hover,
div.RadGrid_Default .rgAltRow a:hover
{
    text-decoration:underline;
}
/* header */
div.RadGrid_Default th.rgHeader, 
div.RadGrid_Default th.rgSorted, 
.RadGrid_Default th.rgHeader, 
.RadGrid_Default th.rgSorted, 
.RadGrid_Default th.rgResizeCol,
.RadGrid_Default th.rgHeader a
{
    height:25px;
    background-image:none;
    background-color:#262626;
    color:#ffffff;
    font-size:14px;
}
.RadGrid_Default th.rgHeader 
{
	background-color: #262626 !important;
}
